<p id="notice"><%= notice %></p>

<h1>Listing Pants</h1>

<table>
  <thead>
    <tr>
      <th>Maker</th>
      <th>Quality</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @pants.each do |pant| %>
      <tr>
        <td><%= pant.maker %></td>
        <td><%= pant.quality %></td>
        <td><%= link_to 'Show', user_pant_path(@user, pant) %></td>
        <td><%= link_to 'Edit', edit_user_pant_path(@user, pant) %></td>
        <td><%= link_to 'Destroy', [@user, pant], method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>  

<%#= link_to 'New Pant', new_user_pants_path(@user) %>
