<p id="notice"><%= notice %></p>

<p>
  <strong>Maker:</strong>
  <%= @pant.maker %>
</p>

<p>
  <strong>Quality:</strong>
  <%= @pant.quality %>
</p>

<%= link_to 'Edit', edit_user_pant_path(@user, @pant) %> |
<%= link_to 'Back', user_pants_path(@user) %>
