<%= form_for(@jeans) do |f| %>
  <% if @jeans.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@jeans.errors.count, "error") %> prohibited this jeans from being saved:</h2>

      <ul>
      <% @jeans.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :make, 'Who made your jeans?' %><br>
    <%= f.text_field :maker %>
  </div>
  <div class="field">
    <%= f.label :denim, 'Denim?' %><br>
    <%= f.check_box :denim %>
  </div>
  <div class="field">
    <%= f.label :color, 'What Color are they?' %><br>
    <%= f.text_field :color %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
