<h1>Welcome to your homepage, <%= current_user.first_name %> <%= current_user.last_name %>!</h1><br/>

<%#= render 'form' %>
<%= image_tag @user.picture %><br/>

<%= link_to "Add a Pair of Pants", new_user_pant_path(@user) %><br/>
Change your profile picture<br/><br/>




<%= link_to 'Show', @user %> |
<%= link_to 'Back', users_path %> |
<%= link_to 'Pants', user_pants_path(@user) %> |
