<p id="notice"><%= notice %></p>

<h1>Listing Gyros</h1>

<table>
  <thead>
    <tr>
      <th>User</th>
      <th>Type</th>
      <th>Tomato</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @gyros.each do |gyro| %>
      <tr>
        <td><%= gyro.user %></td>
        <td><%= gyro.type %></td>
        <td><%= gyro.tomato %></td>
        <td><%= link_to 'Show', gyro %></td>
        <td><%= link_to 'Edit', edit_gyro_path(gyro) %></td>
        <td><%= link_to 'Destroy', gyro, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Gyro', new_gyro_path %>
