<%= form_for(@jeans) do |f| %>
  <% if @jeans.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@jeans.errors.count, "error") %> prohibited this jeans from being saved:</h2>

      <ul>
      <% @jeans.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :maker %><br>
    <%= f.text_field :maker %>
  </div>
  <div class="field">
    <%= f.label :denim %><br>
    <%= f.text_field :denim %>
  </div>
  <div class="field">
    <%= f.label :color %><br>
    <%= f.text_field :color %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
