<p id="notice"><%= notice %></p>

<h1>Listing Jeans</h1>

<table>
  <thead>
    <tr>
      <th>Maker</th>
      <th>Denim</th>
      <th>Color</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @jeans.each do |jeans| %>
      <tr>
        <td><%= jeans.maker %></td>
        <td><%= jeans.denim %></td>
        <td><%= jeans.color %></td>
        <td><%= link_to 'Show', jeans %></td>
        <td><%= link_to 'Edit', edit_jeans_path(jeans) %></td>
        <td><%= link_to 'Destroy', jeans, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Jeans', new_jeans_path %>
